body {
    max-width: 100%;
    max-height: 100%;
    background-color: pink;  
}
/*
.container {
    margin-top: 10px; 
}
*/

.positionedMenu {
   position:relative;
   bottom: 84px;
   right:50px;
}

#headerButtons {
    position:relative;
    left: 850px;
    bottom: 87px;
}

#jennysBakeryLogo {
    position:relative;
    top: 20px;
}

.containerFluidMenu {
    height: 50px;
    background:hotpink;
}

.menuList {
   list-style-type: none; 
   padding-top:12px;
   font-family: 'Bebas Neue' , sans-serif;
   font-size:large;
}


a {
    text-decoration: none;
   /* color:#e52b50; */
   color:#800000;
}

#biscuitTitle {
    font-family: 'Bebas Neue' , 'sans-serif';
    font-size: 60px;
    color:#800000;
}