body {
    max-width: 100%;
    max-height: 100%;
    background-color: pink;  
}
/*
.container {
    margin-top: 10px; 
}
*/

.positionedMenu {
   position:relative;
   bottom: 84px;
   right:50px;
}

#headerButtons {
    position:relative;
    left: 850px;
    bottom: 87px;
}

#jennysBakeryLogo {
    position:relative;
    top: 20px;
}

.containerFluidMenu {
    height: 50px;
    background:hotpink;
}

.menuList {
   list-style-type: none; 
   padding-top:12px;
   font-family: 'Bebas Neue' , sans-serif;
   font-size:large;
}


a {
    text-decoration: none;
   /* color:#e52b50; */
   color:#800000;
}

/*Carousel Slides*/
.carousel-inner {
    height: 490px;
}

.formThemeColorFont {
    color:hotpink;
}

.formLabelLink {
    text-decoration: none;
    color: hotpink;
}

/*Caption*/
.caption {
    font-size: 40px;
    font-family:'Bebas Neue', sans-serif;
   color:black;
   padding-left: 13px;
}

#captionTitle {
    color:#ff1493;
}

#bestSellingCakes {
    font-family:'Bebas Neue', sans-serif;
    font-size: 50px;
    padding-left:10px;
    color:#ff1493;
}

span {
    color:black;
}

.filterButtons {
    margin-left: 20px;
}


.cakeBoxModel {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.boxModelTwo {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;


}

.pieBoxModel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.newsIntroduction {
    font-size: 60px;
    font-family:'Bebas Neue', sans-serif;
    
}

#news {
   color:#ff1493; 
}

.cookBookText {
font-weight:bold;
}

/*Mailing Newsletter to users*/
.mailinglistIntro {
    font-size: 50px;
    font-family:'Bebas Neue', sans-serif;
}

#mailinglistDesign {
    color:#ff1493; 
}

.mailinglistInfo{
    font-size:large;
}

.locationTitle {
    font-family:'Bebas Neue', sans-serif;
    font-size: 50px;
}

/* competition content */

/*Rotate the word winner*/



.competitionIntro {
    font-family:'Bebas Neue', sans-serif;
    /*font-family: "great vibes";*/
    font-size: 50px;
}

#introductionColor {
 color:#ff1493;
}

.basqueCakeImage {
    width:400px;
}

.victoriaCakeInstagram {
    width:400px;
}

.paginationContainer {
    display:block;
    text-align:center;
}



/*Pagination*/

.pagination_buttons {
    display:inline-block;
    position:relative;
    left: 20%;
}

.pagination_buttons {
    border-radius: 4px;
    transition-duration: 0.6s;
    text-align:center;
    width: 90px;
    font-weight: bold;
}


.pagination_buttons:hover {
background-color:#ff1493 ;
color: #800000;
border-color: #ff1493;
}

#content img {
    width: 300px;
    align-content: center;
    margin-top: 20px;
}


/*
.paginationContent {
    text-align:center;
}
*/

.locations {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}